<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FallingTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>JointsTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RollingTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Stonefish.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F74CEBED18E56EEB00D0C42D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7AB71B518C3D8EC0077F07D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7AB71CA18C3E19D0077F07D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7C2311F18CA0CA900817B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7C2312918CA0D3F00817B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
